.contact {
    padding: 5em 0;

    h2 {
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;

    @include respond-to(medium) {
        display: grid;
        grid-column-gap: 1em;
        grid-template-areas:
        "name   email"
        "message    message"
        "   .       button";

        .name{
            grid-area: name;
        }

        .email {
            grid-area: email;
        }

        .message {
            grid-area: message;
        }

        .button {
            grid-area: button;
        }
    }
}

label {
    display: block;
    margin-top: 1em;
    color: $gray;
}

input,
textarea {
    display: block;
    padding: .3em;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.1rem;
}

textarea {
    min-height: 6.25em;
}

.button {
    @include Lato($fs: 1.4rem, $color: $white);
    display: inline-block;
    width: auto;
    margin-top: 1em;
    margin-left: auto;
    background: $gold;
    border: none;
    padding: .8em 1.2em;
}
