.footer {
    padding: 2em 0;
    background: $black;
    text-align: center;

    a {
       color: $gray;
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    margin: 1.75em auto 2em;
}

.icon {
    font-size: 3rem;
    transition: all .5s ease-in-out;

    &:hover {
        color: $gold;
    }
}
