body {
    color: $gray;
    font-family: $ff-s;
    line-height: 1.6;
    background: $white;
    font-size: .875rem;
    overflow-x: hidden;

    @include respond-to(medium) {
        font-size: 1rem;
    }
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 55em;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1 {
    color: $black;
    line-height: 2;
    font-size: 1.7rem;
    font-weight: $fw-n;
    text-align: center;

    @include respond-to(medium) {
        font-size: 4rem;
    }

    span {
        display: block;
        @include Lato($fs: 2.8rem, $color: $gold);

        @include respond-to(medium) {
            font-size: 6rem;
        }
    }
}

h2 {
    font-size: 1.95rem;
    color: $gold;
    line-height: 1;

    @include respond-to(medium) {
        font-size: 2.75rem;
    }
}

h3 {
    @include Lato($fs: 1rem, $color: $black);

    @include respond-to(medium) {
        font-size: 1.5rem;
    }
}

img {
    max-width: 100%;
}
