.site-nav {
    background: $black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 15%;
    z-index: 666;
    transition: transform ease-out 300ms;

    transform: translateX(-100%);

    @include respond-to(medium) {
        transform: translateX(0);
        right: 0;
        position: absolute;
        background: transparent;
    }
}

.wrapper {
    transition: transform ease-out 300ms;
}

.nav-open {
    height: 100vh;
    overflow-y: hidden;

    .site-nav {
        transform: translateX(0);
    }

    .wrapper {
        transform: translateX(85%);
    }
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include respond-to(medium) {
        flex-direction: row;
        justify-content: flex-end;
        height: 5em;
        align-items: center;
    }

    li {
        text-align: center;
    }

    a {
        text-decoration: none;
        padding: .7em;
        display: inline-block;
        position: relative;

        @include Lato($fs: 2rem, $color: $gold);

        @include respond-to(medium) {
            font-size: 1.6rem;

            &::before {
                content: '';
                display: block;
                height: .1em;
                background: $gold;
                position: absolute;
                bottom: -.1em;
                left: 0;
                right: 0;
                transform: scale(0,1);
                transform-origin: left;
                transition: transform ease-in-out 300ms;
            }

            &:hover::before {
                transform: scale(1,1);
            }
        }
    }
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1em;
    left: .6em;
    cursor: pointer;

    @include respond-to(medium) {
        display: none;
    }
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: $black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: ease-in-out 800ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}
