.portfolio {
    text-align: center;
    background: $light-gray;
    padding: 5em 0;
}

.portfolio-items {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: .1em;

    @include respond-to(medium) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5em;
    }
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    margin: 0;

    img {
        display: block;
    }

    figcaption {
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1.5em;
        background: rgba($gold, .75);
        color: $white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 290ms;
    }

    &:hover figcaption,
    &:hover focus {
        top: 0;
    }
}

.portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
}

.portfolio-title {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: auto;

    .featured & {
        font-size: 3rem;
    }
}

.portfolio-desc {
    display: none;

    .featured & {
        display: block;
    }
}

.portfolio-link {
    color: $white;
    font-weight: $fw-b;
    font-size: 0.8rem;
    text-decoration: none;
    align-self: flex-start;
}

.portfolio-modal {
    position: fixed;
    z-index: 10;
    top: 1.5em;
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
    background: $white;
    box-shadow: 0 0 0 5em rgba(black, .5);
    overflow-x: hidden;

    display: none;

    &.open {
        display: block;
    }
}

.portfolio-header {
    text-align: left;
    padding: 2em 0;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center;
    background-color: $black;
}

.portfolio-title-box {
    background: rgba($gold, .75);
    padding: 1.5em 0 1.5em 1.5em;
    color: $white;
    width: 75%;

    .portfolio-title {
        font-size: 2.5rem;
        margin-bottom: .5em;
        display: inline-block;
    }
}

.portfolio-subtitle {
    font-size: 1rem;
}

.portfolio-content {
    text-align: left;
    width: 85%;
    margin: 0 auto;

    p {
        @include respond-to(medium) {
            font-size: 1.5rem;
        }
    }
    h3 {
        font-size: .8rem;

        @include respond-to(medium) {
            font-size: 1.1rem;
        }
    }

    a {
        margin-right: 1em;
    }

    i {
        color: $gold;
        font-size: 1.5rem;

        @include respond-to(medium) {
            font-size: 3rem;
        }
    }

    .portfolio-preview {
        width: 70vw;
        max-width: initial;
        margin: 2em auto;
        height: 40vh;
        object-fit: cover;

        @include respond-to(medium) {
            display: none;
            width: 85vw;
            height: 44vh;
        }
    }

    iframe {
        display: none;

        @include respond-to(medium) {
            display: block;
            margin-top: 1em;
            width: 100%;
            height: 40vh;
        }
    }
}

.portfolio-techs {
    margin: 1.5em 0 1.5em;

    img {
        display: inline-block;
        width: 22px;
        height: 22px;

        @include respond-to(medium) {
            width: 42px;
            height: 42px;
        }
    }

    i {
        margin-right: .7em;
    }
}



.future {
    background-color: $black;
}

.modal-close {
    padding: 1em .6em;
    position: fixed;
    top: .5em;
    left: .5em;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(black, .5);
}

.close-icon,
.close-icon::after {
    content: '';
    display: block;
    background: $black;
    height: 3px;
    width: 1.1em;
    border-radius: 3px;
}

.close-icon {
    transform: rotate(45deg);
}

.close-icon::after {
    transform: rotate(-90deg);
}

@keyframes modalFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes modalFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
