.portfolio {
    text-align: center;
    background: $light-gray;
    padding: 5em 0;
}

.portfolio-items {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: .1em;

    @include respond-to(medium) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5em;
    }
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    margin: 0;

    img {
        display: block;
    }

    figcaption {
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1.5em;
        background: rgba($gold, .75);
        color: $white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 290ms;
    }

    &:hover figcaption,
    &:hover focus {
        top: 0;
    }
}

.portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
}

.portfolio-title {
    color: $white;
    font-size: 1.3rem;
    margin-bottom: auto;

    .featured & {
        font-size: 3rem;
    }
}

.portfolio-desc {
    display: none;

    .featured & {
        display: block;
    }
}

.portfolio-link {
    color: $white;
    font-weight: $fw-b;
    font-size: 0.8rem;
    text-decoration: none;
    align-self: flex-start;
}

.portfolio-modal {
    position: fixed;
    z-index: 1000;
    top: 1.5em;
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
    background: $white;
    box-shadow: 0 0 0 5em rgba(black, .5);

    display: none;

    &.open {
        display: block;
    }
}

.portfolio-header {
    text-align: left;
    padding: 3em 0;
    margin-bottom: 2em;
    background-size: cover;
    background-position: center;
}

.portfolio-header:nth-of-type(2) {
    background-image: url(../images/about-pic.png);
}

.portfolio-title-box {
    background: rgba($gold, .75);
    padding: 1.5em 0 1.5em 1.5em;
    color: $white;
    width: 75%;

    .portfolio-title {
        font-size: 2.5rem;
        margin-bottom: .5em;
        display: inline-block;
    }
}

.portfolio-subtitle {
    font-size: 1rem;
}

.portfolio-content {
    text-align: left;
    width: 85%;
    margin: 0 auto;
}

.modal-close {
    padding: 1em .6em;
    position: absolute;
    top: -1em;
    left: -1em;
    cursor: pointer;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(black, .5)
}

.close-icon,
.close-icon::after {
    content: '';
    display: block;
    background: $black;
    height: 3px;
    width: 1.1em;
    border-radius: 3px;
}

.close-icon {
    transform: rotate(45deg);
}

.close-icon::after {
    transform: rotate(-90deg);
}

@keyframes modalFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes modalFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
