.sec {
    display: flex;
    color: rgba($white, .7);

    h2 {
        color: $white;

        &::after {
            content: '';
            width: 25%;
            height: 2px;
            background: rgba($white, .5);
            display: block;
            margin: 1em auto 0;
        }
    }

    @supports(display: grid) {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 30em) 1fr;
    }
}

.sec-middle {
    background: $black;
    padding: 2em 5vw;
    text-align: center;
}

.sec-left img,
.sec-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}
