.skills {
    display: flex;
    color: rgba($white, .7);

    h2 {
        color: $white;

        &::after {
            content: '';
            width: 25%;
            height: 2px;
            background: rgba($white, .5);
            display: block;
            margin: 1em auto 0;
        }
    }

    @supports(display: grid) {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 40em) 1fr;
    }
}

.skills-middle {
    background: $black;
    padding: 2em 3vw;
    text-align: center;
}

.skills-left img,
.skills-right img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

.skills-icons {
    font-size: 1.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $gold;

    img {
        width: 26px;
        height: 26px;

        @include respond-to(medium) {
            width: 44px;
            height: 44px;
        }
    }

    @include respond-to(medium) {
        font-size: 3rem;
    }
}

.learning {
    margin-top: 1em;
}
