$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'medium-large': 896px,
    'rwd-timeline': 1000px,
    'large': 1200px
);

@mixin respond-to($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin Lato($fs, $ls: .1em, $color: $black, $tt: uppercase, $lh: 1) {
    font-family: $ff-ss;
    font-size: $fs;
    letter-spacing: $ls;
    color: $color;
    text-transform: $tt;
    line-height: $lh;
    font-weight: $fw-n;
}
